{{!-- {{#if title}}
  <h3 class="mb-4">{{title}}</h3>
{{/if}} --}}

<div class="table-responsive">
    <table class="requests-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>ΑΜ</th>
                <th>Θέμα</th>
                <th>Ημερομηνία Υποβολής</th>
                <th>Ανατέθηκε σε</th>
                <th>Κατάσταση</th>
            </tr>
        </thead>
        <tbody>
            {{#each tickets}}
            <tr data-id="{{this.id}}" data-href="{{#if ../isStudent}}/tickets/student-view-ticket/ticket/{{this.id}}{{else}}{{#if ../isLeader}}/tickets/leader-view-ticket/ticket/{{this.id}}{{else}}/tickets/secretary-view-ticket/ticket/{{this.id}}{{/if}}{{/if}}">
                <td>{{this.id}}</td>
                <td>{{this.am}}</td>
                <td>{{this.subject}}</td>
                <td>{{this.submittedAt}}</td>
                
                <td>
                    {{#if this.assignedSecretaryName}}
                        <span class="text-muted"><i class="fas fa-user-check me-1"></i>{{this.assignedSecretaryName}}</span>
                    {{else}}
                        <span class="text-danger italic">Εκκρεμεί ανάθεση</span>
                    {{/if}}
                </td>

                <td>
                    <span class="status {{this.statusClass}}">
                        <span class="dot"></span> {{this.status}}
                    </span>
                </td>

            </tr>
            {{/each}}
        </tbody>
    </table>
</div>