<div class="file-list has-items student-file-list overflow-auto">
    {{#if (hasItems attachments)}}
        {{#each attachments}}
        <div class="file-item">
            <div class="file-item-icon">{{fileLabel this.file_name this.file_type}}</div>
            <div class="file-item-info">
                <p class="file-item-name">{{basename this.file_name}}</p>
                <p class="file-item-size">{{formatFileSize this.file_size}}</p>
            </div>
            <a href="{{attachmentUrl this.file_path}}" class="attachment-download" aria-label="Download attachment" download="{{basename this.file_name}}" data-file-path="{{this.file_path}}">
                <img src="/images/file-download-svgrepo-com.svg" alt="Download">
            </a>
        </div>
        {{/each}}
    {{else}}
        <p class="file-empty-state">Δεν υπάρχουν επισυναπτόμενα αρχεία.</p>
    {{/if}}
</div>

