<div class="message-thread {{#if viewer}}flip{{/if}}" id="messageHistoryContainer">
    {{#if (hasItems messages)}}
        {{#each messages}}
            <div class="message-bubble {{this.bubbleClass}}">
                <div class="message-meta">{{messageMeta this.senderDisplay this.created_at}}</div>
                {{#if this.message_subject}}<p>{{this.message_subject}}</p>{{/if}}
                {{#if this.message_description}}<p>{{this.message_description}}</p>{{/if}}
                {{#if (hasItems this.attachments)}}
                    {{>fileList attachments=this.attachments}}
                {{/if}}
            </div>
        {{/each}}
    {{else}}
        <div class="message-bubble staff-message">
            <div class="message-meta">ΣΥΣΤΗΜΑ</div>
            <p>Δεν υπάρχουν ακόμη μηνύματα για αυτό το αίτημα.</p>
        </div>
    {{/if}}
</div>