{{!-- {{#if title}}
  <h3>{{title}}</h3>
{{/if}} --}}

<table class="requests-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Θέμα</th>
            <th>Ημερομηνία Υποβολής</th>
            <th>Κατάσταση</th>
        </tr>
    </thead>
    <tbody>
        {{#each tickets}}
        <tr data-id="{{this.id}}" data-href="{{#if ../isStudent}}/tickets/student-view-ticket/ticket/{{this.id}}{{else}}/tickets/secretary-view-ticket/ticket/{{this.id}}{{/if}}">
            <td>{{this.id}}</td>
            <td>{{this.subject}}</td>
            <td>{{this.submittedAt}}</td>
            <td>
                <span class="custom-badge {{this.statusClass}}">
                    <span class="dot"></span> {{this.status}}
                </span>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>