{{!-- {{#if title}}
  <h3>{{title}}</h3>
{{/if}} --}}
<link rel="stylesheet" href="/css/pages/viewtickets.css">

<table class="requests-table" >
        <thead>
          <tr>
            <th>ID</th>
            <th>Α.Μ.</th>
            <th>Κατηγορία</th>
            <th>Θέμα</th>
            <th>Ημερομηνία Υποβολής</th>
            <th>Κατάσταση</th>
          </tr>
        </thead>
        <tbody>
          {{#each tickets}}
          <tr data-ticket-id="{{this.id}}">
            <td>{{this.id}}</td>
            <td>{{this.am}}</td>
            <td>{{this.category}}</td>
            <td>{{this.subject}}</td>
            <td>{{this.submittedAt}}</td>
            <td>
                <span class="status {{this.statusClass}}">
                    <span class="dot"></span> {{this.status}}
                </span>
            </td>
          </tr>
          {{/each}}
        </tbody>
</table>