<link rel="stylesheet" href="/studentCard.css">
<div class="student-card">
    <div class="student-avatar"></div>

    <p class="student-name">{{student.fullName}}</p>
    
    <div class="info-item">
        <span class="label">ΑΜ:</span>
        <span class="value">{{student.studentAm}}</span>
    </div>
    
    <div class="info-item">
        <span class="label">Τμήμα:</span>
        <span class="value">{{"Ηλεκτρολόγων Μηχανικών"}}</span>
    </div>
    <div class="info-item">
        <span class="label">Email:</span>
        <span class="value">{{student.email}}</span>
    </div>

    <div class="info-item">
        <span class="label">Έτος Σπουδών:</span>
        <span class="value">{{student.studyYear}}ο</span>
    </div>

</div>